<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informes</title>
    <link rel="stylesheet" href="informes.css" />
  </head>
  <body>
    <h1>DIAGNOSTICOS PENDIENTES</h1>
    <div class="table-container">
      <form action="/" method="post">
        <table class="informe-table">
          <thead>
            <tr>
              <th>ODT</th>
              <th>Cliente</th>
              <th>Diagnostico terminado</th>
            </tr>
          </thead>
          <tbody>
            <% datos.forEach(function(dato) { %>
            <tr>
              <td name="index_<%=dato.odt %>"><%= dato.odt %></td>
              <td><%= dato.cliente %></td>
              <td>
                <label class="switch">
                  <input type="checkbox" <%= dato.estado ? 'checked' : '' %>
                  onclick="toggleSwitch('<%= dato.odt %>')" />
                  <span class="slider"></span>
                </label>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <button type="submit">Guardar</button>
      </form>
    </div>
  </body>
</html>
